html {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: "Roboto", "-apple-system", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
